.felx-centered{
    display: flex;
    justify-content: center;
}
.divBox{
    width:25%;
    margin:10px;
    margin-top: 10%;
}
h2{
    text-align: center;
}
.a{
    color: black;
    text-decoration: none;
}